/* CLASSES UTIITIES */
.why {
    border: 2px solid purple;
}

header {
    height: 80px;
}

header nav div a img:first-child {
    max-width: 50px;   
}

/* CLASSES'S MAIN */

main {
    height: calc(100vh - 80px);
}

main > div:first-child {
    background-image: url("../img/sidebar-bg.png");
    background-repeat: no-repeat;
    background-position: cover;
}

/* FINIRE LA BREACRUP DIVE C'è ILPIU */