/* CLASSES UTIITIES */
* {
    border: 2px solid purple;
}

header {
    height: 7vh;
}

header nav div figure > img:first-child {
    max-width: 50px;   
}

/* CLASSES'S MAIN RIGHT DIV */
.div-1 {
    padding-top: 7vh;
}

/* CLASSES'S MAIN LEFT DIV */
.div-2 {
    width: calc(100% - 25%);
    padding-top: 7vh;
}


